
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load bootstrap3 %}
<h2>Customers{% if query_string %}- Search results for {{ query_string }}{% endif %}</h2>

<form method="get">
    {% include 'customers/search.html' %}
    <button type="submit" name="submit" value="Add" class="btn btn-default" id="submit-id-add" action="/customer/add">
        <span class="glyphicon glyphicon-plus" aria-hidden="true" Title="Add a Customer"></span>
        Add a Customer
    </button>
</form>
{% if customer_list %}
    <div class="well well-sm">
    <table class="table table-striped table-condensed">
    <thead>
        <tr>
            <td>Customer</td>
            <td>Home Phone</td>
            <td>Work Phone</td>
        </tr>
    </thead>
    <tbody>
        {% for cust in customer_list %}
            {% if cust.id > -1 %}
            <tr>
                <td title="Update {{ cust.first_name }}">
                    <strong>
                        <a href="/customer/{{ cust.id }}/" class="see_detail">
                            {{ cust.name }}
                        </a>
                    </strong>
                </td>
                <td>{{ cust.home_phone}}</td>
                <td>{{ cust.work_phone}}</td>

            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    </table>

    </div>
{% include 'customers/paginator.html' %}
{% else %}

    <p style="color:red">No customers found.</p>
{% endif %}

{% endblock %}



